@charset "utf-8";

// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
// Set your brand colors
$green: #005f73;
$green-2: #0a9396;
$green-3: #94d2bd;
$tan: #e9d8a6;
$orange: #ee9b00;
$orange-2: #ca6702;
$orange-2: #bb3e03;
$red: #ae2012;
$red-2: #9b2226;
$black: #001219;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$family-sans-serif: "Oxygen", sans-serif;
$background: $tan;
$text: $black;
$grey-dark: $black;
$grey-light: $tan;
$primary: $green;
$link: $red-2;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #ffffff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
@import "../bulma/bulma.sass";
