@charset "utf-8";

// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
// Set your brand colors
$pure-white: #ffffff;
$white-gray: #e1efff;
$light-gray: #e9ecef;
$gray: #dee2e6;
$gray-2: #ced4da;
$primary-gray: #adb5bd;
$dark-gray: #6c757d;
$dark-gray2: #495057;
$light-black: #343a40;
$black: #212529;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$family-sans-serif: "Poppins", sans-serif;
$scheme-main: $pure-white;
$background: $pure-white;
$text: $black;
$grey-dark: $light-black;
$grey-light: $white-gray;
$primary: $primary-gray;
$link: $dark-gray2;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white-gray;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
@import "../bulma/bulma.sass";
